body {
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100dvh;
  width: 100dvw;

  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header------------------------------------------ */

header {
  background-color: blue;
  position: sticky;
  max-width: 100%;
  min-width: 100%;
  height: 4.5rem;
  top: 0;
  padding: 0 1rem 0 1rem;
  z-index: 1;
}

#home-button {
  text-align: center;
  color: white;
  min-width: 40%;
}

nav {
  max-width: 775px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  width: 5rem;
  height: 100%;
  margin: 1rem 1rem 0 1rem;
  background-color: blue;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* util---------------------------------------------- */

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}

.unstyled-link {
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

/* form content area----------------------------------------- */

.content-container {
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 2rem;
  max-width: 650px;
  font-size: large;
  padding-bottom: 1rem;
}

/* prompts/inputs--------------------------------------------------- */

.prompt-container {
  margin: 0.75rem;
}

.radio {
  border: 2px dashed green;
}

.text-input {
  border-radius: 5px;
  border: 1px solid #dddddd;
  font-size: 1rem;
  width: 80%;
}

input:focus,
textarea:focus {
  outline: none;
}

/* static text page --------------------------------------------*/

#bt-page-reference {
  text-align: center;
  font-size: small;
}

/* footer---------------------------------------------------- */

footer {
  background-color: blue;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  max-width: 100%;
  font-size: small;
  text-align: center;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
}

/* media queries------------------------------------------------ */

@media screen and (max-width: 445px) {
  .main-container {
    overflow-x: hidden;
  }

  header {
    /* height: 9%; */
  }

  nav {
    max-height: 100%;
  }

  .content-container {
    max-width: 100%;
    overflow-x: hidden;
  }

  .nav-button {
    min-width: 5rem;
  }

  .prev {
    margin-left: 0;
  }

  .next {
    margin-right: 0;
  }
}
