body {
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100dvh;
  width: 100dvw;

  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header------------------------------------------ */

header {
  background-color: blue;
  position: sticky;
  max-width: 100%;
  min-width: 100%;
  height: 4.5rem;
  top: 0;
  padding: 0 1rem 0 1rem;
  z-index: 1;
}

#home-button {
  text-align: center;
  color: white;
  min-width: 40%;
}

nav {
  max-width: 775px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  width: 5rem;
  height: 100%;
  margin: 1rem 1rem 0 1rem;
  background-color: blue;
  border: none;
  color: white;
  font-size: 1.5rem;
}

/* util---------------------------------------------- */

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}

.unstyled-link {
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

.teeny * {
  height: 1px;
  width: 1px;
  font-size: 0;
}

.margin-bot {
  margin-bottom: 5rem;
}
/* Main Menu --------------------------------------------*/
.menu-button-group {
  padding-top: 1rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87dvh;
}

#meta-links {
  align-self: center;
  width: 95%;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meta-link {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* form content area------------------------------------ */

.content-container {
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 2rem;
  max-width: 650px;
  font-size: large;
  padding-bottom: 1rem;
}

#download-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  height: 3rem;
}

#download-button {
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  height: 100%;
  width: 45%;
  max-width: 400px;
  border: none;
}

/* prompts/inputs---------------------------------------- */

.prompt-container {
  margin: 0.75rem;
}

.radio-label {
  padding-right: 0.5rem;
}

.text-input {
  border-radius: 6px;
  border: 1px solid #dddddd;
  font-size: 1rem;
  width: 80%;
}

input:focus,
textarea:focus {
  outline: none;
}

#notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes-label {
  display: flex;
  align-items: start;
  width: 90%;
  margin-bottom: 0;
}

#notes {
  margin: 0 1rem 0 1rem;
  width: 90%;
}

/* static text page --------------------------------------------*/

#page-reference {
  text-align: center;
  font-size: small;
}

/* error page --------------------------------------------------*/

#error-page {
  padding: 20%;
}

#error-page > h1 {
  text-align: center;
}

/* footer---------------------------------------------------- */

footer {
  background-color: blue;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  max-width: 100%;
  font-size: small;
  text-align: center;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
}

/* media queries------------------------------------------------ */

@media screen and (max-width: 445px) {
  .main-container {
    overflow-x: hidden;
  }

  nav {
    max-height: 100%;
  }

  .content-container {
    max-width: 100%;
    overflow-x: hidden;
  }

  .nav-button {
    min-width: 5rem;
  }

  .prev {
    margin-left: 0;
  }

  .next {
    margin-right: 0;
  }

  #meta-links {
    flex-direction: column;
    align-items: left;
    padding: 1rem;
  }

  .meta-link {
    max-height: 2em;
    display: flex;
    align-items: center;
  }
}
