:root {
    --basic-text-blue: rgb(0, 0, 255);
    --basic-text-light-blue: rgb(66, 126, 255);
    --text-white: rgb(255, 255, 255);
    --bg-white: rgb(255, 255, 255);
    --bg-off-white: #eeeeee;
    --bg-dark-gray: #6e6e6e;
    --border-lt-gray: #dddddd;
}
